[project]
	description = The base SIMP build repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jeannegreulich
[access "refs/for/refs/*"]
	read = group user/jeannegreulich
	push = group user/jeannegreulich
	label-Code-Review = -2..+2 group user/jeannegreulich
	label-Verified = -1..+1 group user/jeannegreulich
	rebase = group user/jeannegreulich
	removeReviewer = group user/jeannegreulich
	submit = group user/jeannegreulich
[access "refs/heads/*"]
	read = group user/jeannegreulich
	create = group user/jeannegreulich
	push = +force group user/jeannegreulich
	pushMerge = group user/jeannegreulich
[access "refs/tags/*"]
	push = +force group user/jeannegreulich
	pushTag = group user/jeannegreulich
	pushSignedTag = group user/jeannegreulich
